# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/.qmake.stash
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Debug
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/main.o
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile.Release
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/debug/DnDRPG.exe
build-DnDRPG-Desktop_Qt_5_7_0_MinGW_32bit-Debug/Makefile
